// Distances

$distance-xxs: 5px;
$distance-xs: 10px;
$distance-s: 15px;
$distance-m: 20px;
$distance-l: 25px;
$distance-xl: 30px;
$distance-xxl: 50px;

// Colors
$body-color: #444444;
$error-color: #d9534f;
$primary-color: #0091ac;

//Neutral colors
$grey-1: #eeeeee;
$grey-2: #d5d5d5;
$grey-3: #aaaaaa;