@import './common';
@import './popover';
@import './form-controls';
@import './buttons';

* {
    box-sizing: border-box;
    outline: none;
}

body {
    color: $body-color;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus,
a.active,
a:visited {
    color: $body-color;
}

h1,
h2,
h3,
h4 {
    color: $primary-color;
    font-weight: normal;
}

.container {
    margin: 0 auto;
    max-width: 1170px;
    min-width: 320px;
}