<div class="popover">
  <div class="popover-box">
    <span class="close-popup" 
      routerLink="/">&nbsp;</span>
    <div class="">
        <img
          [src]="movie.coverPath"
          alt="{{ movie.name }}"
          class="img-responsive"
          style="max-height: 200px;">
    </div>
    <div class="">
        <h1>{{ movie.name }}</h1>
    </div>
    <div class="">
          {{ movie.year }}
    </div>
    <div class="">
          {{ movie.duration.hours }}h {{ movie.duration.minutes }}m
    </div>
    <div class="">
        {{ movie.description }}
    </div>
    <div class="">
      <a class="btn btn-info"
      (click)="onEditMovie()">Edit movie</a>
      <a class="btn btn-danger"
      (click)="onDeleteMovie()">Delete Movie</a>
    </div>
  </div>
</div>