@import '../../../sass/common';

.movie-details {
    @include clearfix();

    > img {
        float: left;
        margin-right: $distance-l;
        max-height: 200px;
        max-width: 150px;
    }

    h2 {
        margin-bottom: 0;
    }

    .year-duration {
        font-size: 14px;
        font-weight: bold;
    }
}