@import '../../../sass/common';

.movie-details {
    @include clearfix();
    overflow: hidden;

    .image-detail {
        background-color: $grey-1;
        float: left;
        margin-right: $distance-l;
        width: 150px;
        min-height: 150px;

        img {
            width: 100%;
        }
    }

    h2 {
        margin-bottom: 0;
    }

    .year-duration {
        font-size: 14px;
        font-weight: bold;
    }
}