<div class="row">
    <div class="col-xs-12">
      <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xs-12">
            <button
              type="submit"
              class="btn btn-success"
              [disabled]="!movieForm.valid">Save</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="name">Title</label>
              <input
                type="text"
                id="name"
                placeholder="Movie title"
                formControlName="name"
                class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="year">Year</label>
              <select
              id="year"
              class="form-control" 
              formControlName="year">
                <option [ngValue]="null" disabled [selected]="true">Choose release date</option>
                <option 
                  *ngFor="let year of years" 
                  [value]="year">
                  {{year}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div formGroupName="duration">
            <div class="form-group">
              <label for="duration">Duration</label>
              <input
                type="number"
                placeholder="Hours"
                min="0"
                max="1000"
                id="hours"
                formControlName="hours"
                class="form-control">
                <span>:</span>
              <input
                type="number"
                placeholder="Minutes"
                min="0"
                max="59"
                id="minutes"
                formControlName="minutes"
                class="form-control">
            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="coverPath">Cover url</label>
              <input
                type="text"
                placeholder="Cover image url"
                id="coverPath"
                formControlName="coverPath"
                class="form-control"
                #coverPath>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <img style="max-height: 200px;" [src]="coverPath.value" class="img-responsive">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea
                type="text"
                placeholder="Movie description"
                id="description"
                class="form-control"
                formControlName="description"
                rows="6"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  