@import '../../../../sass/common';

$desc-line: 23px;

.movie-item-wrapper {
    border: 1px solid $grey-2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    max-width: 100%;
    padding-bottom: $distance-xs;
    text-decoration: none;
    width: 100%;

    &:focus,
    &:hover {
        box-shadow: 0px 0px 4px 2px $grey-1;
    }

    .movie-details-wrapper {
        padding: 0 $distance-xs;

        h3 {
            @include ellipsis(100%);
            color: $primary-color;
            display: block;
            margin: 0;
            padding: $distance-xxs 0; 
        }

        .description {
            max-height: $desc-line * 2;
            overflow: hidden;
            line-height: $desc-line;
        }
    
        .year-duration {
            display: flex;
            flex-wrap: nowrap;
            
            > div {
                @include ellipsis(50%);
                font-size: 14px;
                font-weight: bold;
                max-width: 50%;
            }
        }
    }

    .cover-img {
        @include responsive-img-block(414px, 276px);
        background-color: $grey-1;

        .cover-img-inner {
            @include responsive-img-block-inner();
        }
    }
}