<a
    [routerLink]="[index]"
    routerLinkActive="active"
    class="movie-item-wrapper">

    <div class="cover-img">
        <div class="cover-img-inner">
            <img [src]="movie.coverPath" alt="{{ movie.name }}"/>
        </div>
    </div>

    <div class="movie-details-wrapper">
        <h3>{{ movie.name }}</h3>
        <div class="year-duration">
            <div class="year">{{ movie.year }} &nbsp;&nbsp;/&nbsp;&nbsp;</div>
            <div class="duration">{{ movie.duration.hours }}h {{ movie.duration.minutes }}m</div>
        </div>

        <app-movie-rating 
            [id]="id"
            [rateValue]="movie.rateValue"></app-movie-rating>

        <div class="description">
            {{ movie.description }}
        </div>
    </div>
</a>
