@import '../../../sass/common';

.add-movie {
    margin-bottom: $distance-m;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
}

.movie-item {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (max-width: 400px) {
    .movie-item {
        @include responsive-boxes(10px, 1);
    }
}

@media only screen and (min-width: 401px) and (max-width: 600px) {
    .movie-item {
        @include responsive-boxes(10px, 2);
    }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .movie-item {
        @include responsive-boxes(15px, 3);
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .movie-item {
        @include responsive-boxes(25px, 4);
    }
}

@media only screen and (min-width: 1025px) {
    .movie-item {
        @include responsive-boxes(25px, 5);
    }
}

@media only screen and (max-width: 1170px) {
    .movie-list,
    .add-movie {
        padding: 0 $distance-xs;
    }
}